*.pyc
.idea/*
.cache/*
scaper.egg-info/*
tests/local/*
.coverage
build/*
dist/*
docs/_build/*
scaper/bin/*
.pytest_cache/*
**/.DS_Store
scaper37env/*
audio/*
audio/
audio/
datasets/
outputfiles/
requirements.txt
scaper37env/
.env
```